<!DOCTYPE HTML>
<html lang="es" ng-app="myapp2">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="stylo.css"> -->
<script src="angular/angular.js"></script>
<script src="js/app2.js"></script>

</head>
<body class="central" ng-controller="controladorEstablecimiento as ce">

	<form role="form" class="xxx" ng-submit="ce.addEstablecimiento()">
	
		<div class="form-group">
			<label>Nombre del Establecimiento</label> <input
				ng-model="ce.establecimiento.nombre" type="text"
				class="form-control" placeholder="Nombre">
		</div>
		<div class="form-group">
			<hr>
			<label>Direccion: </label>
			<hr>
			<div class="margen">
				<!-- 	<label >Calle </label>
    		<input type="text" class="form-control" placeholder="Calle">
    	
    		<label >Altura </label>
    		<input type="text" class="form-control" placeholder="Altura">
    	
    		<label >Numero </label>
    		<input type="text" class="form-control" placeholder="Numero"> -->
				<input ng-model="ce.establecimiento.direccion" type="text"
					class="from-control" placeholder="Direccion">
			</div>
			<hr>
		</div>
		<div class="form-group">
			<label>Telefono</label> <input ng-model="ce.establecimiento.telefono"
				type="text" class="form-control" placeholder="Telefono">

			<!--   <div class="form-group">
    <label >Localidad</label>
    <input type="text" class="form-control" placeholder="Localidad">
  </div>
  <div class="form-group">
    <label >Pais</label>
    <input type="text" class="form-control" placeholder="Pais">
  </div> -->
			<hr>
			<div class="col-sm-10">
				<input type="submit" class="btn btn-primary pull-right"
					value="Agregar" />
			</div>
	</form>
</body>
</html>