.canchas_form h2{
	background-color:  rgba(16, 29, 32, 0.83);;
	border-radius: 5px;
	color: rgba(227, 237, 227, 1);
	font-family: sans-serif;
	font-size: 20px;
	padding: 3px;
	text-shadow: 1px 1px 1px #CCCCCC;
	width: 100%;
  
}
.canchas_form ul {
    width:750px;
    list-style-type:none;
    margin:0px;
    padding:0px;
    background-color:  rgba(196, 255, 232, 0.25);
    float: right;
}
.canchas_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
    
}
.canchas_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
    }
.canchas_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
    
}

.canchas_form button {
    margin-left:350px;
    border-radius: 3px;
    background-color: rgba(203, 213, 225, 0.94);



}
*----- estilos visuales de los elementos --------*/
.canchas_form input {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.canchas_form input:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:80px;
}

.canchas_form input:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.canchas_form input:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
* === Estilos del boton de Envio === */
